In [ ]:
#list all files in Mydrive
!ls

In [8]:
!pwd #check where we are

/content

In [11]:
#list all folders in content
!ls /content

drive  sample_data

In [13]:
#list of all files in
!ls /content/drive/MMydrive

ls: cannot access '/content/drive/MMydrive': No such file or directory

In [ ]:
#recover a cell ctrl+m+z

In [17]:
import pandas as pd
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', names=cols)
df.head()

   sepal_length   sepal_width  petal_length  petal_width        class
0           5.1           3.5           1.4          0.2  Iris-setosa
1           4.9           3.0           1.4          0.2  Iris-setosa
2           4.7           3.2           1.3          0.2  Iris-setosa
3           4.6           3.1           1.5          0.2  Iris-setosa
4           5.0           3.6           1.4          0.2  Iris-setosa

In [18]:
#To dowload directly on the machine
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data

--2021-11-24 09:58:39--  https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4551 (4.4K) [application/x-httpd-php]
Saving to: ‘iris.data’

iris.data           100%[===================>]   4.44K  --.-KB/s    in 0s

2021-11-24 09:58:39 (115 MB/s) - ‘iris.data’ saved [4551/4551]

## Upload dataset into the drive

In [19]:
!cp iris.data /content/drive/MyDrive

In [20]:
!ls

drive  iris.data  sample_data

In [22]:
!ls /content/drive/MyDrive

 112.xlsx			    NSR_templates
'Colab Notebooks'		   'sample data'
'Fichiers à réparer'		    Tables_with_more_columns
 iris.data			    Test
'L2 Thurs 8-10 Ravand HUSSEIN'	    TEST
 Netherlands_avant_dernière_étape   WFT_Tables
 NSR				    WFT_Tables_Netherlands
'NSR (1)'			    WFT_Tables_Work