In [2]:
!git clone https://github.com/SteBaum/First_Colab_saving.git
#use a repositary of someone
#got to github link , and copy the link of the repositary we want

fatal: destination path 'First_Colab_saving' already exists and is not an empty directory.

##Variables and functions

In [11]:
a = 1+1
#output 2
#type -> Integer
print(a)
type(a)

2

int

In [12]:
b = 1+0.5
#output 1.5
#type -> Float
print(b)
type(b)

1.5

float

$\mathbb{N}$

In [14]:
#add dot at the end of a division
1/2.

0.5

In [15]:
10*10

100

## Concatenate

In [18]:
#Concatenate string, the number of quotation mark doesn't matter
'Hello' + " World"

'Hello World'

In [ ]:
#We can't concatenate a str with an int or float
'Hello' + 3

In [19]:
#To be able to concatenate a number with a str, we have to cahnge the number into str with quotation marks
'Hello' + ' 3'

'Hello 3'

In [20]:
#Variation to concatenate strings and numbers
name = "Bob"
age = 20
"Hello, {}. You are {}.".format(name, age)

'Hello, Bob. You are 20.'

In [23]:
#another way to use format with f"...."
f"Hello, {name}. You are {age}."

'Hello, Bob. You are 20.'

In [28]:
def concatenate_str_number(a,b):
  b = str(b)
  return a + b

In [29]:
concatenate_str_number("Hello",3)

'Hello3'

If you want to **reuse** a function you need to use the reurn function print oly if the function is used once

**Avoid reusing** the names defined in the function as name of variable (this avoid confusion)

D'ont use the default name as varaible names (e.g. int, str)